DBT_PROFILES_DIR=.
DBT_BIGQUERY_PROJECT=your-gcp-project-id
DBT_BIGQUERY_DATASET=dbt_dev
DBT_BIGQUERY_LOCATION=US
DBT_SOURCE_PROJECT=your-gcp-project-id
DBT_SOURCE_DATASET=raw_google_trends
DBT_THREADS=4
